.video {
  display: flex;
  align-items: flex-end;

  &__img {
    width: 100px;
  }

  &__box {
    max-width: 980px;
    width: 100%;

    > iframe {
      height: 500px;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 11px;
    font-size: 48px;
    font-family: Gothland;
    text-transform: uppercase;
    line-height: 147.5%;
    color: black;
  }
}