.options
  .wrapper
    p.options__title Стандартные варианты и цены: #{options.title}
    .options__variants
      .options__item Двухстворчатое окно
      .options__item Трехстворчатое окно
      .options__item Балконный блок
      each option in options.list
        .options__item
          include ../option/module
    .options__button.service__submit-button Оставить заявку