.options {
  margin: 0 auto;
  padding: 27px 55px 33px;
  max-width: $wrap;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;

  &__title {
    font-weight: bold;
    font-family: Roboto;
    font-size: 48px;
    line-height: 147.5%;
    color: black;
  }

  &__variants {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__item {
    margin-bottom: 34px;
    margin-right: 20px;
    width: calc(33% - 20px);
    font-weight: 500;
    font-size: 24px;
    font-family: Roboto;
    line-height: 147.5%;
    color: black;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-top: 50px;
    padding: 13px 37px;
    width: 280px;
    border-radius: 15px;
    font-size: 24px;
    font-family: Gothland;
    letter-spacing: 1px;
    line-height: 147.5%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: #F57786;
    cursor: pointer;
  }
}