.advantage {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  &__img {
    margin-bottom: 40px;
  }

  &__article {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
  }
}
