.hardware
  p.hardware__title= hardware.title
  .hardware__info-box
    each description in hardware.product
      include ../product-description/module
    each furniture in hardware.furniture
      include ../furniture/module