.hardware {
  &__title {
    margin-bottom: 58px;
    margin-left: 72px;
    line-height: 74px;
    font-size: 64px;
    color: black;
  }

  &__info-box {
    display: flex;

    & > div {
      width: calc(50% - 20px);
      margin-right: 10px;
  
      &:last-child {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}