.porduct-description(style= `background-color: ${description.isYellow ? "#E1D805" : "#AFD9C4"}; ${description.isLeft ? "padding-left:" : "padding-right:"} 72px;`)
  p.porduct-description__title= description.title
  .porduct-description__content
    .porduct-description__description-box
      each specification in description.descriptions
        .porduct-description__description-container
          if specification.title
            p.porduct-description__description= specification.title.toUpperCase()
          p.porduct-description__description= specification.text
    .porduct-description__image-box
      each image in description.images
          if (image.type === "video")
            .porduct-description__video-container
              iframe.porduct-description__video(src=image.src, frameborder="0")
          else
            .porduct-description__image-container
              img.porduct-description__image(src=image.src, alt="Error")
