.porduct-description {
  padding: 12px;

  &__title {
    margin: 27px 0;
    font-size: 24px;
    line-height: 28px;
    color: black;
  };

  &__content {
    display: flex;
  };

  &__image-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  };

  &__description-box {
    flex: 1;
    margin-right: 18px;
  }

  &__description-container {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    };
  };

  &__description {
    font-size: 14px;
    line-height: 15px;
    color: black;
  };

  &__image {
    display: block;
    width: 100%;
  };

  &__image-container {
    margin-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:first-child {
      margin-top: 0;
    };
  };

  &__video-container {
    margin-top: 31px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:first-child {
      margin-top: 0;
    };
  };

  &__video {
    width: 100%;
  }
}