.verification-methods
  .verification-methods__title
    .wrapper
      p.title= methods.title
  .wrapper
    .text-container= methods.text
    .verification-methods__flex-container
      each advantage in methods.advantages
        include ../advantage/module