.verification-methods{
  position: relative;
  padding: 95px 0 48px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
    background: linear-gradient(180deg, $Fern 5.54%, $Apple 100%);
  }

  & > .wrapper {
    position: relative;
  }

  & .text-container {
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
  }

  &__title{
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 60px 0;
    background-image: url("./../img/window_background.png");
    background-repeat: no-repeat;
    background-size: 55% 250px;
    color: black;

    & > .wrapper > p {
      max-width: 680px;
    }
  }

  &__flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;

    & > div:not(:first-child),
    & > div:not(:nth-child(2)) {
      margin-top: 130px;
    }

    & > div:first-child,
    & > div:nth-child(2) {
      margin-top: 0;
    }
  }
}