html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.tns-outer .tns-nav,
.tns-outer button[data-action="stop"],
.tns-outer button[data-action="start"] {
  display: none;
}

body {
  line-height: 1;
  font-family: 'GothamPro', Roboto, sans-serif;
}

.wrapper {
  max-width: 1161px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.button {
  padding: 18px 57px;
  border-radius: 50px;
}

.title {
  font-size: 48px;
  line-height: 55px;
  font-family: Gothland;
  text-transform: uppercase;
}

.text-container {
  display: inline-block;
  padding: 24px 45px;
  max-width: 1060px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  color: black;
}

@font-face {
  font-family: "GothamPro";
  src: url("./../../assets/fonts/GothamPro.eot?") format("eot"), url("./../../assets/fonts/GothamPro.woff2") format("woff2"), url("./../../assets/fonts/GothamPro.woff") format("woff"), url("./../../assets/fonts/GothamPro.ttf") format("truetype"), url('./../../assets/fonts/GothamPro.svg#str-replace(GothamPro, " ", "_")') format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-weight: bold;
  src: url("./../../assets/fonts/GothamPro-Bold.eot?") format("eot"), url("./../../assets/fonts/GothamPro-Bold.woff2") format("woff2"), url("./../../assets/fonts/GothamPro-Bold.woff") format("woff"), url("./../../assets/fonts/GothamPro-Bold.ttf") format("truetype"), url('./../../assets/fonts/GothamPro-Bold.svg#str-replace(GothamPro, " ", "_")') format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-style: italic;
  font-weight: normal;
  src: url("./../../assets/fonts/GothamPro-Italic.eot?") format("eot"), url("./../../assets/fonts/GothamPro-Italic.woff2") format("woff2"), url("./../../assets/fonts/GothamPro-Italic.woff") format("woff"), url("./../../assets/fonts/GothamPro-Italic.ttf") format("truetype"), url('./../../assets/fonts/GothamPro-Italic.svg#str-replace(GothamPro, " ", "_")') format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-style: italic;
  font-weight: bold;
  src: url("./../../assets/fonts/GothamPro-BoldItalic.eot?") format("eot"), url("./../../assets/fonts/GothamPro-BoldItalic.woff2") format("woff2"), url("./../../assets/fonts/GothamPro-BoldItalic.woff") format("woff"), url("./../../assets/fonts/GothamPro-BoldItalic.ttf") format("truetype"), url('./../../assets/fonts/GothamPro-BoldItalic.svg#str-replace(GothamPro, " ", "_")') format("svg");
}

@font-face {
  font-family: "Roboto";
  src: url("./../../assets/fonts/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Gothland";
  src: url("./../../assets/fonts/Gothland.ttf") format("truetype");
}

.header {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}

.header--position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.header__info-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__button {
  padding: 10px 27px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  background: #E76373;
  color: white;
}

.header__info {
  margin-left: 16px;
}

.header__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: black;
}

.header__time {
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.header__menu-wrapper {
  display: flex;
  align-items: flex-end;
  margin-top: -20px;
}

.header__img {
  width: 144px;
  height: 100px;
}

.header__nav {
  flex: 1;
  margin-bottom: 15px;
  margin-left: 60px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  display: inline-block;
  max-width: 115px;
  font-family: GothamPro;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: black;
}

.footer {
  padding: 14px 0;
  background-color: #E5E5E5;
}

.footer > .wrapper {
  display: flex;
}

.footer__item {
  flex: 1;
}

.footer__item:last-child {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.footer__list-item {
  margin-bottom: 12px;
}

.footer__link {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.footer__find {
  max-width: 520px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: black;
}

.footer__social-menu {
  display: flex;
  margin-top: auto;
}

.footer__social-item {
  margin-right: 48px;
  margin-bottom: 12px;
}

.splash-screen {
  position: relative;
  padding-top: 205px;
  padding-bottom: 155px;
}

.splash-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.splash-screen__flex-block {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.splash-screen__text {
  font-size: 50px;
  line-height: 139.04%;
  color: black;
}

.splash-screen__button {
  margin-top: 27px;
  padding: 21px 38px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #E1D805 0%, #E8A82B 100%);
  color: black;
}

.splash-screen__img {
  margin-left: 5px;
  width: 50%;
}

.splash-screen__yellow-spot {
  position: absolute;
  top: 0;
  right: 0;
}

.service {
  position: relative;
  border-radius: 30px 30px;
  overflow: hidden;
}

.service__title {
  position: absolute;
  top: 22px;
  left: 18px;
  right: 18px;
  line-height: 55px;
  font-size: 46px;
  font-family: Gothland;
  text-transform: uppercase;
  color: white;
}

.service__img {
  display: block;
  width: 100%;
}

.service__buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 26px;
  padding-bottom: 22px;
  background: linear-gradient(180deg, #E1D805 0%, #E8A82B 100%);
}

.service__button {
  padding: 14px 27px;
  max-width: 246px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  background: white;
  color: black;
}

.rate {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 15px 15px;
  height: 222px;
  box-sizing: border-box;
  border-radius: 30px;
  background: linear-gradient(180deg, #E1D805 0%, #FFBC7D 100%);
}

.rate__title {
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 24px;
  color: white;
}

.rate__img {
  height: 100px;
  margin-bottom: 5px;
}

.rate__price {
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
}

.rate__button {
  display: block;
  position: relative;
  padding: 10px 28px;
  font-size: 14px;
  background-color: #74B764;
  text-transform: uppercase;
  color: black;
}

.request {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  padding: 100px 50px;
  border-radius: 50px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #74B764 0%, #539E41 100%);
}

.request__title {
  width: 40%;
  font-size: 48px;
  line-height: 147.5%;
  color: white;
}

.request__container {
  width: 60%;
}

.request__flex {
  display: flex;
}

.request__input {
  background-color: transparent;
  color: white;
  margin-bottom: 50px;
  margin-left: 90px;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
}

.request__input::placeholder {
  color: white;
}

.request__button {
  margin-left: 50%;
  background-color: #fff;
  color: black;
  font-size: 24px;
}

.partner {
  background: #A1B0B7;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}

.partner__img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.partner__img {
  max-width: 460px;
}

.partner__title {
  display: inline-block;
  margin-top: 16px;
  padding: 17px 42px;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: justify;
  background: #E8E8E6;
  color: black;
}

.partner__desc {
  margin-top: 20px;
  padding: 0 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  text-align: justify;
  font-feature-settings: 'cpsp' on;
  color: white;
}

.partner li::before {
  content: "\2022";
  margin-right: 5px;
  color: inherit;
}

.partners {
  position: relative;
  padding-top: 37px;
  padding-bottom: 84px;
}

.partners > .wrapper {
  position: relative;
}

.partners::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background: linear-gradient(180deg, #74B764 5.54%, #539E41 100%);
}

.partners__heading {
  margin-bottom: 25px;
  font-size: 64px;
  line-height: 74px;
  color: #FFFFFF;
}

.partners__container {
  display: flex;
}

.partners__container-right {
  margin-top: 81px;
  margin-left: 20px;
}

.partners__container-left, .partners__container-right {
  width: calc(50% - 10px);
}

.partners__item {
  margin-top: 31px;
}

.partners__item:first-child {
  margin-top: 0;
}

.map__title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 147.5%;
  text-transform: uppercase;
  color: black;
}

.map__container {
  border: 5px solid black;
  box-sizing: border-box;
}

.option {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.option__input {
  display: none;
}

.option__input:checked ~ .option__img {
  box-shadow: 0 0 0 4px #633CCF;
}

.option__img {
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #633CCF;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.2s;
}

.option__img:hover {
  box-shadow: 0 0 0 4px #633CCF;
}

.option__title {
  margin-bottom: 15px;
  font-size: 36px;
  font-family: GothamPro;
  color: black;
}

.innovations {
  margin: 0 auto;
  padding: 35px 15px 0;
  max-width: 1360px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
}

.innovations__title {
  font-size: 48px;
  line-height: 147.5%;
  font-family: Gothland;
  text-align: justify;
  text-transform: uppercase;
  color: black;
}

.innovations__flex-box {
  display: flex;
  margin-top: 16px;
}

.innovations__flex-item {
  flex: 1;
}

.innovations__flex-item:last-child {
  margin-left: 20px;
}

.innovations__gray-block {
  margin-bottom: 42px;
  width: 100%;
  min-height: 280px;
  background: #C4C4C4;
}

.innovations__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 147.5%;
  text-align: justify;
  color: black;
}

.innovations__text > p {
  margin-bottom: 28px;
}

.innovations__text .innovations__desc-title {
  margin-bottom: 0;
  text-transform: uppercase;
}

.options {
  margin: 0 auto;
  padding: 27px 55px 33px;
  max-width: 1360px;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
}

.options__title {
  font-weight: bold;
  font-family: Roboto;
  font-size: 48px;
  line-height: 147.5%;
  color: black;
}

.options__variants {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.options__item {
  margin-bottom: 34px;
  margin-right: 20px;
  width: calc(33% - 20px);
  font-weight: 500;
  font-size: 24px;
  font-family: Roboto;
  line-height: 147.5%;
  color: black;
}

.options__item:nth-child(3n) {
  margin-right: 0;
}

.options__button {
  display: block;
  margin-left: auto;
  margin-top: 50px;
  padding: 13px 37px;
  width: 280px;
  border-radius: 15px;
  font-size: 24px;
  font-family: Gothland;
  letter-spacing: 1px;
  line-height: 147.5%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: #F57786;
  cursor: pointer;
}

.product {
  padding-top: 59px;
  padding-bottom: 40px;
}

.product__info-container {
  position: relative;
  min-height: 435px;
}

.product__image-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  height: 435px;
}

.product__line {
  position: absolute;
}

.product__line--top-left {
  top: 80px;
  left: -63px;
}

.product__line--top-right {
  top: 63px;
  right: -136px;
}

.product__line--bottom-left {
  bottom: 43px;
  left: -31px;
}

.product__line--bottom-right {
  bottom: 43px;
  right: -188px;
}

.product__info-item {
  position: absolute;
  max-width: 280px;
}

.product__info-item--top-left {
  top: -10px;
  left: 6.5%;
}

.product__info-item--top-left .product__info-img {
  width: 74px;
  height: 74px;
}

.product__info-item--top-right {
  top: -30px;
  right: -1.5%;
}

.product__info-item--top-right .product__info-img {
  width: 80px;
  height: 80px;
}

.product__info-item--bottom-right {
  bottom: -38px;
  right: -3%;
}

.product__info-item--bottom-right .product__info-img {
  width: 103px;
  height: 103px;
}

.product__info-item--bottom-left {
  bottom: -25px;
  left: 5.5%;
}

.product__info-item--bottom-left .product__info-img {
  width: 89px;
  height: 89px;
}

.product__info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #633CCF;
}

.product__info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 147.5%;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.product__info-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 147.5%;
  text-align: center;
  color: white;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit__img {
  height: 130px;
  margin-bottom: 60px;
}

.benefit__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.pvc-window__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 88px;
  background-image: url("./../img/window_background.png");
  background-repeat: no-repeat;
  background-size: 55% 250px;
  color: black;
}

.pvc-window__title > .wrapper > p {
  max-width: 680px;
}

.pvc-window__conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pvc-window__menu {
  width: 35%;
}

.pvc-window__list {
  font-weight: 500;
  font-size: 20px;
  line-height: 225.7%;
}

.pvc-window__img {
  width: 65%;
}

.take-pdf__up-container {
  display: flex;
}

.take-pdf__up-text {
  margin-bottom: 80px;
  font-size: 46px;
  line-height: 55px;
  text-align: center;
  font-family: Gothland;
  text-transform: uppercase;
  color: black;
}

.take-pdf__left-arrow {
  position: relative;
  left: -28px;
  width: 68.5px;
  align-self: flex-end;
}

.take-pdf__right-arrow {
  position: relative;
  right: -28px;
  width: 68.5px;
  align-self: flex-end;
  transform: scale(-1, 1);
}

.take-pdf__bottom-container {
  display: flex;
  position: relative;
  padding: 44px;
  background: linear-gradient(180deg, #74B764 0%, #539E41 100%);
  border-radius: 50px;
}

.take-pdf__bottom-text {
  flex: 1;
  font-family: Gothland;
  font-size: 48px;
  line-height: 147.5%;
  text-transform: uppercase;
  color: white;
}

.take-pdf__left-form {
  position: relative;
  display: flex;
  margin-left: 28px;
  justify-content: space-between;
  flex: 1;
  align-self: center;
}

.take-pdf__input {
  width: 100%;
  margin-left: 88px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: inherit;
  outline: none;
  color: #FFFFFF;
}

.take-pdf__input:first-child {
  margin-left: 0;
}

.take-pdf__input::placeholder {
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.take-pdf__button {
  position: absolute;
  bottom: 44px;
  right: 44px;
  padding: 11px 39px;
  background: #FFFFFF;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-slider > .tns-outer {
  position: relative;
}

.product-slider__slide {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.product-slider__slide > * {
  width: calc(100% - 160px);
}

.product-slider .tns-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 30px);
  left: 0;
  right: 0;
  height: 0;
  z-index: 10;
}

.product-slider__arrow {
  display: block;
}

.product-slider__prev-arrow {
  transform: rotate(180deg);
}

.product-slider__nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.product-slider__nav-item {
  max-width: 180px;
  cursor: pointer;
}

.product-slider__nav-item:not(:first-child) {
  margin-left: 15px;
}

.product-slider__nav-item > img {
  width: auto;
  height: 100px;
}

.product-type {
  display: inline-block;
  position: relative;
  padding: 10px;
  max-width: 238px;
  width: 100%;
  height: 158px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 106.2%;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  color: white;
}

.product-type > p {
  position: relative;
}

.product-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: 0.6s;
}

.product-type:hover::before {
  opacity: 0.6;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
}

.product-info__item {
  margin-bottom: 80px;
  padding: 0 16px;
  width: 50%;
  box-sizing: border-box;
}

.product-info__item--full-width {
  width: 100%;
}

.product-info__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 147.5%;
  color: white;
}

.product-info__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
  color: #EBFF00;
}

.porduct-description {
  padding: 12px;
}

.porduct-description__title {
  margin: 27px 0;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.porduct-description__content {
  display: flex;
}

.porduct-description__image-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.porduct-description__description-box {
  flex: 1;
  margin-right: 18px;
}

.porduct-description__description-container {
  margin-top: 15px;
}

.porduct-description__description-container:first-child {
  margin-top: 0;
}

.porduct-description__description {
  font-size: 14px;
  line-height: 15px;
  color: black;
}

.porduct-description__image {
  display: block;
  width: 100%;
}

.porduct-description__image-container {
  margin-top: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.porduct-description__image-container:first-child {
  margin-top: 0;
}

.porduct-description__video-container {
  margin-top: 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.porduct-description__video-container:first-child {
  margin-top: 0;
}

.porduct-description__video {
  width: 100%;
}

.advantage {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.advantage__img {
  margin-bottom: 40px;
}

.advantage__article {
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 15px;
}

.advantage__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
}

.profile-materials__material-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-materials__material-container > div {
  margin-top: 20px;
  margin-right: 20px;
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.profile-materials__material-container > div:nth-child(even) {
  margin-right: 0;
}

.profile-materials__title {
  margin-left: 72px;
  margin-bottom: 19px;
  font-size: 64px;
  line-height: 74px;
  text-transform: uppercase;
  color: #000000;
}

.video {
  display: flex;
  align-items: flex-end;
}

.video__img {
  width: 100px;
}

.video__box {
  max-width: 980px;
  width: 100%;
}

.video__box > iframe {
  height: 500px;
  width: 100%;
}

.video__title {
  margin-bottom: 11px;
  font-size: 48px;
  font-family: Gothland;
  text-transform: uppercase;
  line-height: 147.5%;
  color: black;
}

.furniture {
  padding: 32px 24px;
  padding-right: 72px;
  background-color: #AFD9C4;
}

.furniture__title {
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.furniture__flex {
  display: flex;
}

.furniture__description {
  flex: 1;
}

.furniture__image {
  flex: 1;
  width: 100%;
  margin-left: 40px;
  justify-self: center;
}

.furniture__header {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.furniture__paragraph {
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.furniture__video-container {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.furniture__video-box {
  max-width: 250px;
  width: 100%;
}

.furniture__video-box:last-child {
  margin-left: 25px;
}

.tabs {
  padding: 92px 0 41px;
  background: linear-gradient(180deg, #74B764 0%, #539E41 100%);
}

.tabs__info--hidden {
  display: none;
}

.tabs__info-item {
  display: flex;
  align-items: flex-start;
}

.tabs__info-item > div:first-child {
  width: 50%;
}

.tabs__info-item > div:last-child {
  margin-left: 35px;
  width: calc(50% - 35px);
}

.tabs__buttons-wrapper {
  display: flex;
  margin-top: 37px;
}

.tabs__button {
  padding: 19px 45px;
  border: 1px solid #E8E8E6;
  box-sizing: border-box;
  font-family: Gothland;
  font-size: 14px;
  line-height: 147.5%;
  background: linear-gradient(180deg, #E1D805 0%, #E8A82B 100%);
  color: white;
}

.tabs__button--active {
  background: linear-gradient(180deg, #E8A82B 0%, #E8A82B 100%);
}

.tabs__button:not(:last-child) {
  margin-right: 20px;
}

.hardware__title {
  margin-bottom: 58px;
  margin-left: 72px;
  line-height: 74px;
  font-size: 64px;
  color: black;
}

.hardware__info-box {
  display: flex;
}

.hardware__info-box > div {
  width: calc(50% - 20px);
  margin-right: 10px;
}

.hardware__info-box > div:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: -100%;
  padding: 18px 30px;
  padding-bottom: 30px;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50px;
  background: linear-gradient(180deg, #E1D805 0%, #539E41 100%);
  opacity: 0;
}

.popup--opened {
  left: 50%;
  z-index: 999;
  opacity: 1;
}

.popup:hover .popup__close {
  display: block;
}

.popup__title {
  max-width: 450px;
  font-size: 48px;
  line-height: 147.5%;
  text-transform: uppercase;
  color: white;
}

.popup__flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.popup__flex-box > div {
  width: 50%;
}

.popup__margin {
  margin-top: 95px;
}

.popup__input {
  padding: 9px 0;
  width: 200px;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background-color: transparent;
  color: white;
}

.popup__input::placeholder {
  color: white;
}

.popup__button {
  padding: 21px;
  width: 100%;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: white;
  color: black;
}

.popup__close {
  display: none;
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 32px;
}

.popup__close::after {
  content: "\2715";
  color: white;
}

.popup__secondary-text {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.verification-methods {
  position: relative;
  padding: 95px 0 48px;
}

.verification-methods::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  background: linear-gradient(180deg, #74B764 5.54%, #539E41 100%);
}

.verification-methods > .wrapper {
  position: relative;
}

.verification-methods .text-container {
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
}

.verification-methods__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 60px 0;
  background-image: url("./../img/window_background.png");
  background-repeat: no-repeat;
  background-size: 55% 250px;
  color: black;
}

.verification-methods__title > .wrapper > p {
  max-width: 680px;
}

.verification-methods__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.verification-methods__flex-container > div:not(:first-child),
.verification-methods__flex-container > div:not(:nth-child(2)) {
  margin-top: 130px;
}

.verification-methods__flex-container > div:first-child,
.verification-methods__flex-container > div:nth-child(2) {
  margin-top: 0;
}

.page-content__page-description {
  padding: 20px 130px;
}

.page-content__page-description .page-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 147.5%;
  font-family: Gothland;
  color: black;
}

.page-content__page-description .page-heading {
  font-size: 30px;
  line-height: 147.5%;
  color: black;
}

.page-content__video-container {
  padding-top: 47px;
  padding-bottom: 83px;
}

.page-content__options-container {
  padding: 55px 0;
}

.tips-tricks {
  padding-bottom: 130px;
}

.tips-tricks__margin-27 {
  margin-top: 27px;
}

.tips-tricks__margin-50 {
  margin-top: 50px;
}

.tips-tricks__margin-100 {
  margin-top: 100px;
}

.aluminium {
  padding-bottom: 55px;
}

.aluminium::before {
  content: "";
  position: absolute;
  top: 800px;
  left: 0;
  right: 0;
  height: 1500px;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  background: linear-gradient(180deg, #74B764 5.54%, #539E41 100%);
}

.aluminium__title {
  margin-top: 36px;
  font-size: 64px;
  font-family: Gothland;
  line-height: 74px;
  text-transform: uppercase;
  color: black;
}

.aluminium > .wrapper {
  position: relative;
}

.aluminium__yellow-spot {
  position: absolute;
  top: 0;
  right: 0;
}

.aluminium__title-margin-top {
  margin-top: 75px;
}

.aluminium__text {
  max-width: 912px;
  font-weight: 500;
  font-size: 36px;
  line-height: 106.2%;
}

.aluminium__white {
  color: white;
}

.aluminium__text-block {
  margin-top: 26px;
}

.aluminium__margin-top {
  margin-top: 50px;
}

.aluminium__img-block {
  display: flex;
  justify-content: space-between;
}

.aluminium__img-block > img {
  width: calc(33.33% - 20px);
  border-radius: 30px;
}

.aluminium__product-block {
  display: flex;
  margin-top: 30px;
}

.aluminium__product-block > a:not(:first-child) {
  margin-left: 12px;
}

.aluminium__flex-box {
  display: flex;
  align-items: flex-start;
}

.aluminium__flex-box > img {
  max-width: 500px;
  width: 100%;
}

.aluminium__video-block {
  margin-right: 65px;
  max-width: 500px;
}

.aluminium__video-block > * {
  margin-bottom: 33px;
  width: 500px;
  height: 260px;
}

.main__location-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 210px;
  margin-top: 150px;
  background-image: url("../img/yellow-big-spot.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main__phone-img {
  margin-top: auto;
}

.main__map-block {
  max-width: 618px;
  margin-top: auto;
  margin-bottom: 44px;
}

.main__request-wrapper {
  margin-top: 138px;
  margin-bottom: 78px;
}

.choice__title {
  margin: 130px 0;
}

.choice__container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;
}

.choice__item {
  margin: 0 8px;
}

.choice__item:nth-child(-n + 3) {
  width: 26%;
}

.choice__item:nth-child(n + 4) {
  width: calc(25% - 16px);
}

.choice__item:nth-child(4) .rate__image, .choice__item:nth-child(7) .rate__image {
  margin-left: -20px;
}

.container {
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.5%;
  background: linear-gradient(180deg, #74B764 0%, #539E41 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.container__title {
  position: relative;
  padding: 55px 0;
  font-size: 64px;
  font-family: Gothland;
  line-height: 74px;
  color: white;
}

.container__flex {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.container__flex > div {
  margin-bottom: 48px;
  width: calc(50% - 10px);
}

.container__flex > div:nth-child(even) {
  margin-left: 20px;
}

.about-company {
  margin-top: 220px;
  padding: 34px 0 48px 0;
  background: linear-gradient(180deg, #74B764 0%, #539E41 100%);
}

.about-company__title {
  margin-bottom: 60px;
  font-size: 64px;
  line-height: 74px;
  color: white;
}

.about-company__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -25px;
  margin-bottom: 10px;
}

.about-company__flex > div {
  margin: 0 25px;
  margin-bottom: 55px;
  width: calc(33.33% - 50px);
}

.about-company__folder {
  text-align: center;
  color: white;
}

.about-us__margin {
  margin-top: 100px;
}

.about-us__margin:last-child {
  margin-bottom: 180px;
}
