.product-info
  each item in productInfo
    .product-info__item(class= item.isFullWidth ? "product-info__item--full-width" : "")
      p.product-info__title= item.title
      p.product-info__description= item.desc