.product-info {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 80px;
    padding: 0 16px;
    width: 50%;
    box-sizing: border-box;

    &--full-width {
      width: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 147.5%;
    color: white;
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 147.5%;
    color: $ChartreuseYellow;
  }
}