.innovations
  .wrapper
    .innovations__title ИННОВАЦИИ
    .innovations__flex-box
      .innovations__flex-item
        each block in innovations.blocks
          iframe.innovations__gray-block(src=block.src, frameborder="0")
      .innovations__flex-item
        .innovations__text
          each item in innovations.descrition
            if item.title
              p.innovations__desc-title= item.title
            p= item.text
