.innovations {
  margin: 0 auto;
  padding: 35px 15px 0;
  max-width: $wrap;
  border: 1px solid $Silver;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;

  &__title {
    font-size: 48px;
    line-height: 147.5%;
    font-family: Gothland;
    text-align: justify;
    text-transform: uppercase;
    color: black;
  }

  &__flex-box {
    display: flex;
    margin-top: 16px;
  }

  &__flex-item {
    flex: 1;

    &:last-child {
      margin-left: 20px;
    }
  }

  &__gray-block {
    margin-bottom: 42px;
    width: 100%;
    min-height: 280px;
    background: $Silver;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 147.5%;
    text-align: justify;
    color: black;

    > p {
      margin-bottom: 28px;
    }

    .innovations__desc-title {
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}