.profile-materials {
  &__material-container {
    display: flex;
    flex-wrap: wrap;

    & > div {
      margin-top: 20px;
      margin-right: 20px;
      width: calc(50% - 10px);
      box-sizing: border-box;
  
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  &__title {
    margin-left: 72px;
    margin-bottom: 19px;
    font-size: 64px;
    line-height: 74px;
    text-transform: uppercase;
    color: #000000;
  }
}