-
  var menu = [
    { title: "Пластиковые окна и двери", link: "/main.html" },
    { title: "Алюминевые конструкции", link: "/aluminium-constructions.html" },
    { title: "Ремонт и сервис", link: "/services.html" },
    { title: "Наши партнеры и материалы ", link: "/about-us.html" },
    { title: "Советы и инструкции", link: "/tips-tricks.html" },
  ];

- var isBackgroundOpacity = isHeaderOpacity ? "header--position" : ""

header.header(class= isBackgroundOpacity)
  .wrapper
    .header__info-block
      button.header__button Позвонить
      .header__info
        a(href="tel:+77777777705").header__phone +7 (777) 777-77-05
        p.header__time Рабочее время:
          <br />Ежедневно с 10:00 до 19:00
    .header__menu-wrapper
      a(href="/main.html")
        img(src="./img/logo.png").header__logo
      nav.header__nav
        ul.header__menu
          each item in menu
            li
              a(href= item.link).header__link= item.title