.header {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid black;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);

    &--position {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    &__info-block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__button {
        padding: 10px 27px;
        border-radius: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        background: $Mandy;
        color: white;
    }

    &__info {
        margin-left: 16px;
    }

    &__phone {
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        color: black;
    }

    &__time {
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.5);
    }

    &__menu-wrapper {
        display: flex;
        align-items: flex-end;
        margin-top: -20px;
    }

    &__img {
        width: 144px;
        height: 100px;
    }

    &__nav {
        flex: 1;
        margin-bottom: 15px;
        margin-left: 60px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        display: inline-block;
        max-width: 115px;
        font-family: GothamPro;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        text-align: center;
        color: black;
    }
}