extends ../templates/base

block content
    .about-us
      -
        const partners = {
          listLeft: [
            {
              bgcolor: "#FFFFFF",
              img: "../img/partner-1.png",
              description: "Международный концерн The Deceuninck Group (Декёнинк Груп), основанный в 1937 году, входит в ТОП-3 мировых производителей ПВХ систем и композитных материалов для строительной промышленности. Штаб-квартира концерна находится в Бельгии (Deceuninck NV). Более чем за 80 лет своей истории компания заработала доверие и лояльность многих производителей, дистрибьюторов, а также архитекторов, строителей и конечных потребителей окон из ПВХ. Декёнинк обслуживает более 4000 клиентов в 91 стране. Имеет 15 заводов и 22 склада в 19 странах в США, Южной Америке, Европе (включая Россию и Турцию) и Азии. В концерне работает 3600 сотрудников по всему миру.",
              listTitle: "Deceuninck в мире:",
              list: [
                "Входит в тройку ведущих европейских разработчиков и производителей ПВХ систем и материалов для строительства;",
                "Обсуживает более 4000 клиентов в 91 стране;",
                "Имеет 15 заводов и 22 склада в 19 странах (США, Южной Америке, Европе (включая Россию и Турцию) и Азии;",
                "Насчитывает более 3600 сотрудников по всему миру;"
              ],
              title: "Deceuninck Group",
            },
            {
              bgcolor: "#FFFFFF",
              img: "../img/partner-1.png",
              description: "Международный концерн The Deceuninck Group (Декёнинк Груп), основанный в 1937 году, входит в ТОП-3 мировых производителей ПВХ систем и композитных материалов для строительной промышленности. Штаб-квартира концерна находится в Бельгии (Deceuninck NV). Более чем за 80 лет своей истории компания заработала доверие и лояльность многих производителей, дистрибьюторов, а также архитекторов, строителей и конечных потребителей окон из ПВХ. Декёнинк обслуживает более 4000 клиентов в 91 стране. Имеет 15 заводов и 22 склада в 19 странах в США, Южной Америке, Европе (включая Россию и Турцию) и Азии. В концерне работает 3600 сотрудников по всему миру.",
              listTitle: "Deceuninck в мире:",
              list: [
                "Входит в тройку ведущих европейских разработчиков и производителей ПВХ систем и материалов для строительства;",
                "Обсуживает более 4000 клиентов в 91 стране;",
                "Имеет 15 заводов и 22 склада в 19 странах (США, Южной Америке, Европе (включая Россию и Турцию) и Азии;",
                "Насчитывает более 3600 сотрудников по всему миру;"
              ],
              title: "Deceuninck Group",
            },
          ],
          listRight: [
            {
              bgcolor: "#2765AD",
              img: "../img/partner-1.png",
              description: "Winkhaus завоевала безупречную репутацию на рынке и доверие клиентов во всем \
              мире, благодаря инновационным технологиям, высоким стандартам качества и сервиса, которым \
              компания следует уже более 160 лет. Архитекторы, проектировщики, производители окон и \
              конечные потребители по всему миру высоко ценят широкий спектр разносторонних сервисных \
              услуг и высокотехнологичные разработки компании в области оконной и дверной фурнитуры, а \
              также систем защиты и контроля доступа. <br /><br />Winkhaus – это действующая во всем мире группа \
              компаний. Собственные предприятия Winkhaus расположены в Тельгте, Мюнстере и Майнингене. \
              Международные дочерние предприятия и филиалы компании находятся в 8-ми странах мира. \
              Клиенты фирмы во всем мире ценят продукты и сервисные услуги, которыми Winkhaus определяет \
              стандарты развития оконной отрасли с самого начала своей деятельности.",
              title: "Deceuninck Group",
            },
            {
              bgcolor: "#FFFFFF",
              img: "../img/partner-1.png",
              description: "Международный концерн The Deceuninck Group (Декёнинк Груп), основанный в 1937 году, входит в ТОП-3 мировых производителей ПВХ систем и композитных материалов для строительной промышленности. Штаб-квартира концерна находится в Бельгии (Deceuninck NV). Более чем за 80 лет своей истории компания заработала доверие и лояльность многих производителей, дистрибьюторов, а также архитекторов, строителей и конечных потребителей окон из ПВХ. Декёнинк обслуживает более 4000 клиентов в 91 стране. Имеет 15 заводов и 22 склада в 19 странах в США, Южной Америке, Европе (включая Россию и Турцию) и Азии. В концерне работает 3600 сотрудников по всему миру.",
              listTitle: "Deceuninck в мире:",
              list: [
                "Входит в тройку ведущих европейских разработчиков и производителей ПВХ систем и материалов для строительства;",
                "Обсуживает более 4000 клиентов в 91 стране;",
                "Имеет 15 заводов и 22 склада в 19 странах (США, Южной Америке, Европе (включая Россию и Турцию) и Азии;",
                "Насчитывает более 3600 сотрудников по всему миру;"
              ],
              title: "Deceuninck Group",
            },
          ]
        }
      include ../modules/partners/module
      .wrapper
        .about-us__margin
          -
            const materials = {
              title: "Профильные материалы",
              list: [
                {
                  isYellow: true,
                  isLeft: true,
                  title: "Deceuninck ЭКО 60",
                  descriptions: [
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                  ],
                  images: [
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    },
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    }
                  ]
                },
                {
                  isYellow: false,
                  isLeft: false,
                  title: "Deceuninck ЭКО 60",
                  descriptions: [
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                  ],
                  images: [
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    },
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    }
                  ]
                },
                {
                  isYellow: false,
                  isLeft: true,
                  title: "Deceuninck ЭКО 60",
                  descriptions: [
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                  ],
                  images: [
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    }
                  ]
                },
                {
                  isYellow: true,
                  isLeft: false,
                  title: "Deceuninck ЭКО 60",
                  descriptions: [
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                  ],
                  images: [
                    {
                      type: "video",
                      src: "https://youtu.be/_SJswgm5DxA",
                    },
                    {
                      type: "video",
                      src: "https://youtu.be/8bbqZOQ7jU8",
                    },
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    }
                  ]
                }
              ]
            }
          include ../modules/profile-materials/module
        .about-us__margin
          -
            const hardware = {
              title: "Фурнитура",
              product: [
                {
                  isYellow: true,
                  isLeft: true,
                  title: "Deceuninck ЭКО 60",
                  descriptions: [
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                    {
                      title: "ТЕПЛО",
                      text: "Ширина 76мм и 6 воздушных камер энергосберегающего оконного профиля ФАВОРИТ СПЭЙС сохраняют тепло в помещении, а три контура уплотнения защищают от сквозняков.",
                    },
                  ],
                  images: [
                    {
                      type: "video",
                      src: "https://www.youtube.com/watch?v=LLOOU8rDajk",
                    },
                    {
                      type: "video",
                      src: "https://youtu.be/ZumDaHvwllY",
                    },
                    {
                      type: "image",
                      src: "./img/preview1.png",
                    }
                  ]
                }
              ],
              furniture: [
                {
                  title: "Axor KOMFORT LINE K-3 ",
                  description: "Внимание к деталям, нашедшее свое отражение в качественной системе фурнитуры",
                  list: [
                    {
                      text: "Для поворотно – откидных и поворотных створок с заложением 9 или 13 мм • Фальцлюфт - 12 мм (диапазон применения от 9,8 до 14 мм)"
                    },
                    {
                      text: "Для поворотно – откидных и поворотных створок с заложением 9 или 13 мм • Фальцлюфт - 12 мм (диапазон применения от 9,8 до 14 мм)"
                    },
                    {
                      text: "Для поворотно – откидных и поворотных створок с заложением 9 или 13 мм • Фальцлюфт - 12 мм (диапазон применения от 9,8 до 14 мм)"
                    },
                    {
                      text: "Для поворотно – откидных и поворотных створок с заложением 9 или 13 мм • Фальцлюфт - 12 мм (диапазон применения от 9,8 до 14 мм)"
                    },
                  ],
                  image: "./img/furniture-image.png",
                  oneVideo: "https://youtu.be/KUbmHEEek1o",
                  twoVideo: "https://www.youtube.com/watch?v=y2B6pbAZfPA"
                }
              ],

            }
          include ../modules/hardware/module