extends ../templates/base

block content
  .aluminium
    img.aluminium__yellow-spot(src="./img/yellow-spot.png")
    .wrapper
      .aluminium__title Алюминиевые конструкции
    
      p.title.aluminium__title-margin-top Система Alustar КПТ74
      p.text-container.aluminium__text-block Система обладает хорошей теплоизоляцией благодаря внутренней термовставке шириной 24мм из полиамида. Цвет конструкции со стороны помещения и со стороны улицы может быть разным. Толщина конструкции 74мм. Система Alustar КПТ74 позволяет изготавливать «теплые» двери, балконные ограждения как глухие, так и со встроенными распашными створками.
      .aluminium__img-block.aluminium__margin-top
        img(src="./img/aluminium-1.png")
        img(src="./img/aluminium-2.png")
        img(src="./img/aluminium-3.png")
      
      p.aluminium__white.aluminium__text.aluminium__margin-top Данная система применяется для изготовления «Теплых» конструкций из алюминия и идеально подходит для изготовления:
      .aluminium__product-block
        -
          const productTypes = [
            {
              link: "#",
              img: "./img/product-type-1.png",
              title: "окон"
            },
            {
              link: "#",
              img: "./img/product-type-2.png",
              title: "дверей"
            },
            {
              link: "#",
              img: "./img/product-type-3.png",
              title: "фасадов"
            },
            {
              link: "#",
              img: "./img/product-type-4.png",
              title: "витражей"
            },
          ];
        each productType in productTypes
          include ../modules/product-type/module
      
      p.aluminium__white.title.aluminium__title-margin-top Система Alustar КП45
      p.text-container.aluminium__text-block Система отличается разнообразием возможностей и малой толщиной конструкции — всего 45мм. Позволяет изготавливать холодные витражи, фальшвитражи, остекление балконов, внутренние перегородки как глухие, так и со встроенными распашными створками, дверями.
      .aluminium__img-block.aluminium__margin-top
        img(src="./img/aluminium-1.png")
        img(src="./img/aluminium-2.png")
        img(src="./img/aluminium-3.png")
      
      p.aluminium__white.title.aluminium__title-margin-top Система Alustar КП70
      p.text-container.aluminium__text-block Применяется для изготовления офисных модульных перегородок с дверьми (распашными или маятниковыми).
        <br /> Система Alustar КП70 предназначена для формирования помещений и может применяться в выставочных центрах, торговых залах, административных зданиях. Конструкция позволяет осуществлять разводку коммуникаций (компьютерной, телефонной и электрических сетей) в полости каркаса перегородки, устанавливать на профиль розетки и выключатели с обеих сторон конструкций.
      .aluminium__flex-box.aluminium__margin-top
        .aluminium__video-block
          iframe.porduct-description__video(src="https://www.youtube.com/watch?v=XcmEVSi5ADM", frameborder="0")
          iframe.porduct-description__video(src="https://www.youtube.com/watch?v=8FsQL8SYZhQ", frameborder="0")
        img(src="./img/aluminium-7.png")