extends ../templates/base

block content
  .page-content
    .page-content__page-description
      p.page-title Классик +
      p.page-heading Для тех, кто ценит качество, но не готов переплачивать
    
    include ../modules/tabs/module
    .wrapper
      .page-content__video-container
        -
          var video = {
            image: "./img/Group5.png",
            title: "Видео материалы",
            src: "https://youtu.be/_SJswgm5DxA"
          }
        include ../modules/video/module

      .page-content__innovations-container
        -
          const innovations = {
            blocks: [
              { src: "https://youtu.be/_SJswgm5DxA" },
              { src: "https://youtu.be/8bbqZOQ7jU8" }
            ],
            descrition: [
              {
                text: "В новом оконном профиле «ЭКО 60» установлен самый современный камерный уплотнитель из \
                  термоэластопластов, который используется также в инновационной системе премиум-класса \
                  «Фаворит Спэйс». Благодаря наличию камеры такой уплотнитель обладает улучшенными \
                  теплосберегающими свойствами. Его срок службы рассчитан более чем на 20 лет. Кроме того, \
                  он не требует ежегодного ухода в отличии от обычных резиновых уплотнителей."
              },
              {
                text: "В системе полностью исключена возможность выпадения конденсата (так называемого \
                  «краевого эффекта») за счет более глубокой посадки стеклопакета в профиле. Кроме того, в \
                  продукте используется импост с усиленным армированием, что делает окно более устойчивым \
                  к ветровым и ливневым нагрузкам. Что немаловажно – все доборные профили теперь заменены на \
                  элементы собственного российского производства, что позволяет сократить сроки поставки \
                  продукции клиентам."
              }
            ]
          };
        include ../modules/innovations/module

      .page-content__options-container
        -
          const options = {
            title: "Классик +",
            list: [
              {
                title: "от 52 990 тг",
                type: "Двухстворчатое окно",
                src: "./img/Green-graf 4.png"
              },
              {
                title: "от 78 990 тг",
                type: "Трехстворчатое окно",
                src: "./img/Green-graf 5.png"
              },
              {
                title: "от 110 990 тг",
                type: "Балконный блок",
                src: "./img/Green-graf 3.png"
              },
              {
                title: "от 50 990 тг",
                type: "Двухстворчатое окно",
                src: "./img/Green-graf 6.png"
              },
              {
                title: "от 97 990 тг",
                type: "Трехстворчатое окно",
                src: "./img/Green-graf 2.png"
              }
            ]
          };
        include ../modules/options/module
