extends ../templates/base

block content
  .page-content
    .page-content__page-description
      p.page-title Классик
      p.page-heading Оптимальное решение для квартир, загородных, дачных и банных домов  
    
    include ../modules/tabs/module
    .wrapper
      .page-content__video-container
        -
          var video = {
            image: "./img/Group4.png",
            title: "Видео материалы",
            src: "https://youtu.be/_SJswgm5DxA"
          }
        include ../modules/video/module

      .page-content__innovations-container
        -
          const innovations = {
            blocks: [{src: "https://youtu.be/_SJswgm5DxA"}, {src: "https://youtu.be/fDNT-JXPBQQ"}],
            descrition: [
              {
                text: "В новом оконном профиле «ЭКО 60» установлен самый современный камерный уплотнитель из \
                      термоэластопластов, который используется также в инновационной системе премиум-класса \
                      «Фаворит Спэйс». Благодаря наличию камеры такой уплотнитель обладает улучшенными \
                      теплосберегающими свойствами. Его срок службы рассчитан более чем на 20 лет. Кроме того, \
                      он не требует ежегодного ухода в отличии от обычных резиновых уплотнителей."
              },
              {
                text: "В системе полностью исключена возможность выпадения конденсата (так называемого \
                      «краевого эффекта») за счет более глубокой посадки стеклопакета в профиле. Кроме того, в \
                      продукте используется импост с усиленным армированием, что делает окно более устойчивым \
                      к ветровым и ливневым нагрузкам. Что немаловажно – все доборные профили теперь заменены на \
                      элементы собственного российского производства, что позволяет сократить сроки поставки \
                      продукции клиентам."
              }
            ]
          };
        include ../modules/innovations/module

      .page-content__options-container
        -
          const options = {
            title: "Классик",
            list: [
              {
                title: "от 49 990 тг",
                type: "Двухстворчатое окно",
                src: "./img/Graf-1.png"
              },
              {
                title: "от 71 990 тг",
                type: "Трехстворчатое окно",
                src: "./img/Graf-3.png"
              },
              {
                title: "от 102 990 тг",
                type: "Балконный блок",
                src: "./img/Graf-5.png"
              },
              {
                title: "от 46 990 тг",
                type: "Двухстворчатое окно",
                src: "./img/Graf-2.png"
              },
              {
                title: "от 89 990 тг",
                type: "Трехстворчатое окно",
                src: "./img/Graf-4.png"
              }
            ]
          };
        include ../modules/options/module
