extends ../templates/base

block content
  .page-content
    .page-content__page-description
      p.page-title Эконом +
      p.page-heading Оптимальное решение для квартир, загородных, дачных и банных домов 
    
    include ../modules/tabs/module
    .wrapper
      .page-content__video-container
        -
          var video = {
            image: "./img/Group3.png",
            title: "Видео материалы",
            src: "https://youtu.be/_SJswgm5DxA"
          }
        include ../modules/video/module

      .page-content__innovations-container
        -
          const innovations = {
            blocks: [{src: "https://youtu.be/_SJswgm5DxA"}, {src: "https://youtu.be/8bbqZOQ7jU8"}],
            descrition: [
              {
                text: "Преимущества Рехау очень осязаемы. Это: \
                      Высочайшая надёжность всех элементов – от основных материалов до фурнитуры; \
                      Эффективная теплоизоляция – даже в самую холодную погоду окна REHAU сохраняют тепло \
                      и создают благоприятный микроклимат, позволяя вам экономить существенные средства на отоплении. \
                      Сделать отопление ещё более эффективным можно за счёт использования радиаторных \
                      систем и тёплых полов от «Рехау». Летом окна REHAU предотвращают перегрев помещения; \
                      Отличная шумоизоляция – с нашими окнами вы сможете ощутить комфортную тишину загородного дома, \
                      даже находясь в шумном мегаполисе; \
                      Стоит учитывать, что цена профилей BLITZ ниже, чем у других систем REHAU. \
                      При этом они предельно технологичны, то есть просты и удобны в использовании \
                      при производстве оконных и дверных блоков. А это значит, что поставщики окон могут \
                      предложить конструкции, удовлетворяющие всем пожеланиям клиентов по самой выгодной цене."
              },
              {
                text: "Благодаря небольшой видимой ширине комбинации коробка+створка (105 мм — меньше, \
                      чем у большинства аналогов) окна из профилей BLITZ обладают высоким светопропусканием. \
                      К тому же, рамные конструкции из узких профилей изящно выглядят и визуально раздвигают \
                      границы помещения. Окна и двери из профилей BLITZ рассчитаны на самый широкий круг \
                      российских потребителей — тех, кто ценит качество, но не готов переплачивать \
                      BLITZ – базовая система в продуктовой линейке, разработанная в соответствии с \
                      наиболее актуальными запросами российских потребителей. Надежные окна, \
                      которые эффективно сохраняют тепло, защищают дом от уличного шума и легко вписываются \
                      в любой интерьер."
              }
            ]
          };
        include ../modules/innovations/module

      .page-content__options-container
        -
          const options = {
            title: "Эконом +",
            list: [
              {
                title: "от 47 990 тг",
                type: "Двухстворчатое окно",
                src: "./img/Graf-1.png"
              },
              {
                title: "от 67 990 тг",
                type: "Трехстворчатое окно",
                src: "./img/Graf-3.png"
              },
              {
                title: "от 99 990 тг",
                type: "Балконный блок",
                src: "./img/Graf-5.png"
              },
              {
                title: "от 45 990 тг",
                type: "Двухстворчатое окно",
                src: "./img/Graf-2.png"
              },
              {
                title: "от 86 990 тг",
                type: "Трехстворчатое окно",
                src: "./img/Graf-4.png"
              }
            ]
          };
        include ../modules/options/module
