extends ../templates/base

block variables
  - isHeaderOpacity = true

block content
  -
    const splashScreen = {
      backgroundImage: "./img/splash-screen.png",
      text: "свяжитесь с нами в период действия акции и получите скидку на окна",
      img: "./img/window.png"
    };
  include ../modules/splash-screen/module

  -
    var choice = [
      {
        title: "Бюджет",
        price: "от 38 999 тг",
        link: "/budget.html"
      },
      {
        title: "Эконом",
        price: "от 43 999 тг",
        link: "/econom.html"
      },
      {
        title: "Эконом+",
        price: "от 45 999 тг",
        link: "/econom-plus.html"
      },
      {
        title: "Классик",
        price: "от 46 999 тг",
        link: "/classic.html"
      },
      {
        title: "Классик+",
        price: "от 50 999 тг",
        link: "/classic-plus.html"
      },
      {
        title: "Стандарт",
        price: "от 84 999 тг",
        link: "/standart.html"
      },
      {
        title: "Стандарт+",
        price: "от 71 999 тг",
        link: "/standart-plus.html"
      }
    ]

  .wrapper
    .choice
      p.title.choice__title ВЫБИРАЙ ПОД СЕБЯ!
      .choice__container
        each item, i in choice
          -
            var rate = {
              title: item.title,
              src: "./img/preview" + (i + 1) + ".png",
              price: item.price,
              image: "./img/Group" + (i + 1) + ".png",
              link: item.link
            }
          .choice__item
            include ../modules/rate/module

  .about-company
    .wrapper
      p.title.about-company__title о компании

      .about-company__flex
        -
          var benefits = [
            {
              text: "Удобный сервис в любом месте и в любое время",
              src: "./img/company-1.png"
            },
            { 
              text: "Бесплатные замеры 15-минутный расчет стоимости изделий ",
              src: "./img/company-2.png"
            },
            { 
              text: "Оптимизация экспертиза старых окон и замены самых необходимых изделий ",
              src: "./img/company-3.png"
            },
            { 
              text: "Высшее качество в оконных изделиях и прилагающемся сервисе ",
              src: "./img/company-4.png"
            },
            { 
              text: "С нами ваши окна будут стоять веками ",
              src: "./img/company-5.png"
            }
          ];

        each benefit in benefits
          include ../modules/benefit/module
      p.title.about-company__folder Ваша проблема - это наша проблема

  .main__location-container
    img.main__phone-img(src="./img/mobile-phone.png", alt="Error")
    .main__map-block
      include ../modules/map/module

  .main__request-wrapper.wrapper
    -
      var request = {
        title: "Оставьте свою заявку на замер",
        value1: "+ 7 777 2112121",
        value2: "Комментарий ",
        button: "Оставить заявку"
      }
    include ../modules/add-request/module    
