extends ../templates/base

//- block variables
  //- - isHeaderOpacity = true

block content
  .container
    .wrapper
      .title.container__title наши услуги
      .container__flex
        -
          var value = [
            {text: "Замена фурнитуры от 10 000 тг"},
            {text: "Замена стеклопакета от 9 000 тг"},
            {text: "Техническое обслуживание окон  от 1 000 тг"},
            {text: "Монтаж от 3 200 тг кв/m"},
            {text: "Ремонт от 2 500 тг"},
            {text: "Москитные сетки от 6 000 тг"},
            {text: "Регулировка Окон от 2 500 тг"},
            {text: "Замена уплотнителя от 1 000 тг"},
            {text: "Замена ручки от 1 000 тг"},
            {text: "Подоконники от 2 000 тг м. "},
            {text: "Защита от детей от 6 000 тг"},
            {text: "Замеры Оконных Проемов Бесплатно"},
            {text: "Откосы от 2 500 тг м."}
          ]
        each item, i in value 
          -
            var service = {
              img: "./img/service-" + (i + 1) + ".png",
              title: item.text
            };
          include ../modules/service/module