extends ../templates/base

block content
  .tips-tricks
    img.aluminium__yellow-spot(src="./img/yellow-spot.png")
    .wrapper
      .aluminium__title Советы и инструкции
    .tips-tricks__margin-27
      -
        var pvcWindow = {
          title: "Устройство ПВХ окна",
          mass: [
            {text: "Подоконник."},
            {text: "Профиль рамы окна."},
            {text: "Штапик с уплотнителем."},
            {text: "Завес."},
            {text: "Профиль коробки окна."},
            {text: "Стеклопакет."},
            {text: "Штапик с уплотнителем."},
            {text: "Уплотнитель окна."},
            {text: "Отлив."},
            {text: "Элементы фурнитуры."}
          ],
          src: "./img/window_image.png"
        }
      include ../modules/pvc-window/module

    .tips-tricks__margin-50
      -
        const methods = {
          title: "4 способа проверить качество окна",
          text: "Окна – крупное приобретение, особенно если речь идет о загородном доме или большой квартире. Вложенные средства оправдают себя, но только если окна будут действительно теплыми и устойчивыми к эксплуатационным нагрузкам. Вот несколько способов отличить качественное изделие от подделки и брака.",
          advantages: [
            {
              src: "./img/advantage1.png",
              title: "Профиль",
              text: "Иногда для экономии изготовители окон используют низкокачественные профили или комбинируют в одном окне профили разных брендов. Обратите внимание на защитную пленку: там должен быть указан производитель. Также серьезный повод заподозрить подделку – видимая разница в оттенке основного профиля и штапика."
            },
            {
              src: "./img/advantage2.png",
              title: "стекло",
              text: "Некоторые фирмы в нарушение договора устанавливают вместо i-стекла обычное флоат-стекло. Чтобы обнаружить обман, достаточно поднести к окну пламя зажигалки: отражаемый от низкоэмиссионного покрытия огонёк имеет явно заметный другой цвет (зелёный, красный, синий или иной – в зависимости от производителя)."
            },
            {
              src: "./img/advantage3.png",
              title: "планки",
              text: "Обратите внимание на количество цапф и ответных планок приборов запирания. У хорошего окна их как минимум четыре (с каждой стороны).  Если планок всего две, перед вами некачественное изделие, которое наверняка будет продуваться ветром."
            },
            {
              src: "./img/advantage4.png",
              title: "фурнитура",
              text: "Качественная фурнитура работает мягко, к ручке не нужно прилагать больших усилий. Если же ручка заедает, «пружинит» или скрипит при повороте, значит, использована низкокачественная фурнитура или допущен брак при установке механизма запирания."
            }
          ]
        };
      include ../modules/verification-methods/module

    .wrapper.tips-tricks__margin-100
      include ../modules/take-pdf/module
