- let counter = 1;

.pvc-window
  .pvc-window__title
    .wrapper
      p.title= pvcWindow.title
  .pvc-window__conteiner.wrapper
    ol.pvc-window__menu
      each item in pvcWindow.mass
        li.pvc-window__list #{counter++}. #{item.text}
    img.pvc-window__img(src= pvcWindow.src, alt="Error")