.pvc-window {
  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 88px;
    background-image: url("./../img/window_background.png");
    background-repeat: no-repeat;
    background-size: 55% 250px;
    color: black;

    & > .wrapper > p {
      max-width: 680px;
    }
  }

  &__conteiner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__menu {
    width: 35%;
  }

  &__list {
    font-weight: 500;
    font-size: 20px;
    line-height: 225.7%;
  }
  
  &__img {
    width: 65%;
  }
}
