.request
  .title.request__title= request.title
  .request__container
    .request__flex
      input.request__input(type="phone" placeholder= request.value1)
      input.request__input(type="text" placeholder= request.value2)
    button.button.request__button= request.button
      