.request{
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  padding: 100px 50px;
  border-radius: 50px;
  box-sizing: border-box;
  background: linear-gradient(180deg, $Fern 0%, $Apple 100%);
  
  &__title{
    width: 40%;
    font-size: 48px;
    line-height: 147.5%;
    color: white;
  }

  &__container {
    width: 60%;
  }

  &__flex{
    display: flex;
  }

  &__input{
    background-color: transparent;
    color: white;
    margin-bottom: 50px;
    margin-left: 90px;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 20px;

    &::placeholder{
      color: white;
    }
  }

  &__button{
    margin-left: 50%;
    background-color: #fff;
    color: black;
    font-size: 24px;
  }
}
