form.popup
  p.popup__title Оставьте свою заявку на замер
  button(type="button").popup__close
  .popup__flex-box
    div
      input.popup__input(type="text" placeholder="ФИО")
    div
      input.popup__input(type="text" placeholder="+ 7 777 2112121")
    div.popup__margin
      input.popup__input(type="text" placeholder="Комментарий")
    div.popup__margin
      button(type="submit").popup__button Оставить заявку
