.popup {
  position: fixed;
  top: 50%;
  left: -100%;
  padding: 18px 30px;
  padding-bottom: 30px;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50px;
  background: linear-gradient(180deg, $Corn 0%, $Apple 100%);
  opacity: 0;

  &--opened {
    left: 50%;
    z-index: 999;
    opacity: 1;
  }

  &:hover {
    .popup__close {
      display: block;
    }
  }

  &__title {
    max-width: 450px;
    font-size: 48px;
    line-height: 147.5%;
    text-transform: uppercase;
    color: white;
  }

  &__flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    & > div {
      width: 50%;
    }
  }

  &__margin {
    margin-top: 95px;
  }

  &__input{
    padding: 9px 0;
    width: 200px;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background-color: transparent;
    color: white;

    &::placeholder{
      color: white;
    }
  }

  &__button {
    padding: 21px;
    width: 100%;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    background: white;
    color: black;
  }

  &__close {
    display: none;
    position: absolute;
    top: 18px;
    right: 30px;
    font-size: 32px;

    &::after {
      content: "\2715";
      color: white;
    }
  }

  &__secondary-text {
    font-size: 18px;
    line-height: 24px;
    color: white;
  }
}