.product-type {
  display: inline-block;
  position: relative;
  padding: 10px;
  max-width: 238px;
  width: 100%;
  height: 158px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 106.2%;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  color: white;

  > p {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: 0.6s;
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }
  }
}