.splash-screen(style=`background-image: url(${splashScreen.backgroundImage})`)
  img.splash-screen__yellow-spot(src="./img/yellow-spot.png")
  .wrapper
    .splash-screen__flex-block
      div
        p.splash-screen__text= splashScreen.text
        button.splash-screen__button СВЯЗАТЬСЯ
      img(src= splashScreen.img).splash-screen__img