.splash-screen {
  position: relative;
  padding-top: 205px;
  padding-bottom: 155px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba($color: white, $alpha: 0.4);
  }
  
  &__flex-block {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__text {
    font-size: 50px;
    line-height: 139.04%;
    color: black;
  }

  &__button {
    margin-top: 27px;
    padding: 21px 38px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #E1D805 0%, #E8A82B 100%);
    color: black;
  }

  &__img {
    margin-left: 5px;
    width: 50%;
  }

  &__yellow-spot {
    position: absolute;
    top: 0;
    right: 0;
  }
}