.partner
  .partner__img-block(style=`background-color: ${partner.bgColor}`)
    img(src= partner.img).partner__img
  .partner__desc!= partner.description
    if !!partner.listTitle
      ul= partner.listTitle
        if !!partner.list
          each item in partner.list
            li= item
  p.partner__title= partner.title
