.partner {
  background: #A1B0B7;
  border: 1px solid $Silver;
  box-sizing: border-box;

  &__img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }

  &__img {
    max-width: 460px;
  }

  &__title {
    display: inline-block;
    margin-top: 16px;
    padding: 17px 42px;
    font-size: 48px;
    line-height: 55px;
    text-transform: uppercase;
    text-align: justify;
    background: #E8E8E6;
    color: black;
  }

  &__desc {
    margin-top: 20px;
    padding: 0 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    text-align: justify;
    font-feature-settings: 'cpsp' on;
    color: white;
  }

  li {
    &::before {
      content: "\2022";
      margin-right: 5px;
      color: inherit;
    }
  }
}