.page-content {
  &__page-description {
    padding: 20px 130px;

    .page-title {
      font-weight: 600;
      font-size: 48px;
      line-height: 147.5%;
      font-family: Gothland;
      color: black;
    }

    .page-heading {
      font-size: 30px;
      line-height: 147.5%;
      color: black;
    }
  }

  &__video-container {
    padding-top: 47px;
    padding-bottom: 83px;
  }

  &__options-container {
    padding: 55px 0;
  }
}

.tips-tricks {
  padding-bottom: 130px;
  
  &__margin-27 {
    margin-top: 27px;
  }

  &__margin-50 {
    margin-top: 50px;
  }

  &__margin-100 {
    margin-top: 100px;
  }
}

.aluminium {
  padding-bottom: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    height: 1500px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    background: linear-gradient(180deg, $Fern 5.54%, $Apple 100%);
  }

  &__title {
    margin-top: 36px;
    font-size: 64px;
    font-family: Gothland;
    line-height: 74px;
    text-transform: uppercase;
    color: black;
  }

  & > .wrapper {
    position: relative;
  }

  &__yellow-spot {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title-margin-top {
    margin-top: 75px;
  }

  &__text {
    max-width: 912px;
    font-weight: 500;
    font-size: 36px;
    line-height: 106.2%;
  }

  &__white {
    color: white;
  }

  &__text-block {
    margin-top: 26px;
  }

  &__margin-top {
    margin-top: 50px;
  }

  &__img-block {
    display: flex;
    justify-content: space-between;

    > img {
      width: calc(33.33% - 20px);
      border-radius: 30px;
    }
  }

  &__product-block {
    display: flex;
    margin-top: 30px;

    & > a:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__flex-box {
    display: flex;
    align-items: flex-start;

    & > img {
      max-width: 500px;
      width: 100%;
    }
  }

  &__video-block {
    margin-right: 65px;
    max-width: 500px;

    & > * {
      margin-bottom: 33px;
      width: 500px;
      height: 260px;
    }
  }
}

.main {
  &__location-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 210px;
    margin-top: 150px;
    background-image: url("../img/yellow-big-spot.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__phone-img {
    margin-top: auto;
  }

  &__map-block {
    max-width: 618px;
    margin-top: auto;
    margin-bottom: 44px;
  }

  &__request-wrapper {
    margin-top: 138px;
    margin-bottom: 78px;
  }
}

.choice {
  &__title {
    margin: 130px 0;
  }

  &__container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -8px;
  }

  &__item {
    margin: 0 8px;;

    &:nth-child(-n + 3) {
      width: 26%;
    }

    &:nth-child(n + 4) {
      width: calc(25% - 16px);
    }

    &:nth-child(4),
    &:nth-child(7) {
      .rate__image {
        margin-left: -20px;
      }
    }
  }
}

.container {
  position: relative;
  
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.5%;
    background: linear-gradient(180deg, $Fern 0%, $Apple 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  &__title{
    position: relative;
    padding: 55px 0;
    font-size: 64px;
    font-family: Gothland;
    line-height: 74px;
    color: white;
  }

  &__flex{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    > div {
      margin-bottom: 48px;
      width: calc(50% - 10px);

      &:nth-child(even) {
        margin-left: 20px;
      }
    }
  }
}

.about-company {
  margin-top: 220px;
  padding: 34px 0 48px 0;
  background: linear-gradient(180deg, $Fern 0%, $Apple 100%);

  &__title {
    margin-bottom: 60px;
    font-size: 64px;
    line-height: 74px;
    color: white;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -25px;
    margin-bottom: 10px;

    & > div {
      margin: 0 25px;
      margin-bottom: 55px;
      width: calc(33.33% - 50px);
    }
  }

  &__folder {
    text-align: center;
    color: white;
  }
}

.about-us {
  &__margin {
    margin-top: 100px;

    &:last-child {
      margin-bottom: 180px;
    }
  }
}