doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        - var pageTitle
        title= pageTitle
        link(href="./css/import.css", rel="stylesheet")
        link(href="./css/main.min.css", rel="stylesheet")
        script(src="https://maps.google.com/maps/api/js?key=AIzaSyAp8P3pHCl5b28Eb8dYQhqlRVM0d5pSyL0")
    - var bodyClass
    block variables
    body(class=bodyClass)
        div#wrap
            include ../modules/header/module

            main.main
                block content

            include ../modules/footer/module
            
            include ../modules/popup/module
        script(src="./main.js")
