.product
  .wrapper
    .product__info-container
      .product__image-block
        img.prodect__img(src="./img/product.png")
        img.product__line.product__line--top-left(src="./img/product-line-1.png", alt="Error")
        img.product__line.product__line--bottom-left(src="./img/product-line-2.png", alt="Error")
        img.product__line.product__line--top-right(src="./img/product-line-3.png", alt="Error")
        img.product__line.product__line--bottom-right(src="./img/product-line-4.png", alt="Error")
      .product__info-item.product__info-item--top-left
        .product__info-img
          include ../../images/product-1.svg
        .product__info-title КАЧЕСТВО
        .product__info-desc Протестировано в международном институте IFT Rosenheim, высокое качество зафиксировано в системном паспорте
      .product__info-item.product__info-item--top-right
        .product__info-img
          include ../../images/product-2.svg
        .product__info-title НАДЕЖНОСТЬ
        .product__info-desc В продукте используется импост с усиленным армированием, что делает окно более устойчивым к ветровым и ливневым нагрузкам. 
      .product__info-item.product__info-item--bottom-left
        .product__info-img
          include ../../images/product-3.svg
        .product__info-title ДОЛГОВЕЧНОСТЬ
        .product__info-desc Его срок службы рассчитан более чем на 20 лет. Кроме того, он не требует ежегодного ухода в отличии от обычных резиновых уплотнителей.
      .product__info-item.product__info-item--bottom-right
        .product__info-img
          include ../../images/product-4.svg
        .product__info-title ЗАБОТА
        .product__info-desc В системе полностью исключена возможность выпадения конденсата (так называемого «краевого эффекта») за счет более глубокой посадки стеклопакета в профиле.
