.product {
  padding-top: 59px;
  padding-bottom: 40px;
  
  &__info-container {
    position: relative;
    min-height: 435px;
  }

  &__image-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 490px;
    height: 435px;
  }

  &__line {
    position: absolute;

    &--top-left {
      top: 80px;
      left: -63px;
    }

    &--top-right {
      top: 63px;
      right: -136px;
    }

    &--bottom-left {
      bottom: 43px;
      left: -31px;
    }

    &--bottom-right {
      bottom: 43px;
      right: -188px;
    }
  }

  &__info-item {
    position: absolute;
    max-width: 280px;

    &--top-left {
      top: -10px;
      left: 6.5%;

      .product__info-img {
        width: 74px;
        height: 74px;
      }
    }

    &--top-right {
      top: -30px;
      right: -1.5%;

      .product__info-img {
        width: 80px;
        height: 80px;
      }
    }

    &--bottom-right {
      bottom: -38px;
      right: -3%;

      .product__info-img {
        width: 103px;
        height: 103px;
      }
    }

    &--bottom-left {
      bottom: -25px;
      left: 5.5%;

      .product__info-img {
        width: 89px;
        height: 89px;
      }
    }
  }

  &__info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $PurpleHeart;
  }

  &__info-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 147.5%;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }

  &__info-desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 147.5%;
    text-align: center;
    color: white;
  }
}