.furniture
  p.furniture__title= furniture.title
  .furniture__flex
    .furniture__description
      p.furniture__header= furniture.description
      ul.furniture__list
        each paragraph in furniture.list
          li.furniture__paragraph= paragraph.text
    img.furniture__image(src= furniture.image, alt="Error")
  .furniture__video-container
    .furniture__video-box
      iframe.porduct-description__video(src=furniture.oneVideo, frameborder="0")
    .furniture__video-box
      iframe.porduct-description__video(src=furniture.twoVideo, frameborder="0")