.furniture {
  padding: 32px 24px;
  padding-right: 72px;
  background-color: #AFD9C4;

  &__title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  };

  &__flex {
    display: flex;
  };

  &__description {
    flex: 1;
  };
  
  &__image {
    flex: 1;
    width: 100%;
    margin-left: 40px;
    justify-self: center;
  };

  &__header {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
  };

  &__paragraph {
    font-size: 14px;
    line-height: 15px;
    color: #000000;
  };

  &__video-container {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
  };

  &__video-box {
    max-width: 250px;
    width: 100%;
  
    &:last-child {
      margin-left: 25px;
    }
  };
}