.option {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;

  &__input {
    display: none;

    &:checked ~ .option__img {
      box-shadow: 0 0 0 4px $PurpleHeart;
    }
  }

  &__img {
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid $PurpleHeart;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.2s;  

    &:hover {
      box-shadow: 0 0 0 4px $PurpleHeart;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 36px;
    font-family: GothamPro;
    color: black;
  }
}
