.partners
  .wrapper
    h3.partners__heading НАШИ ПАРТНЁРЫ
    .partners__container
      .partners__container-left
        each partner in partners.listLeft
          .partners__item
            include ../partner/module
      .partners__container-right      
        each partner in partners.listRight
          .partners__item
            include ../partner/module