.partners {
  position: relative;
  padding-top: 37px;
  padding-bottom: 84px;

  & > .wrapper {
    position: relative;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    background: linear-gradient(180deg, $Fern 5.54%, $Apple 100%);
  }

  &__heading {
    margin-bottom: 25px;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
  }

  &__container {
    display: flex;
    
    &-right {
      margin-top: 81px;
      margin-left: 20px;
    }
  }

  &__container-left,
  &__container-right {
    width: calc(50% - 10px);
  }
  
  &__item {
    margin-top: 31px; 

    &:first-child {
      margin-top: 0;
    }
  }
}