.map {
  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 147.5%;
    text-transform: uppercase;
    color: black;
  }

  &__container {
    border: 5px solid black;
    box-sizing: border-box;
  }
}