-
  var productSlider = {
    slider: [
      "<img src='./img/slider-1.png' />",
      "<img src='./img/slider-2.png' />",
      "<img src='./img/slider-3.png' />",
    ]
  }

.tabs
  .wrapper
    .tabs__container
      .tabs__info.tabs__info-1
        include ../product/module
      
      .tabs__info.tabs__info-2.tabs__info--hidden
        .tabs__info-item
          include ../product-slider/module

          -
            var productInfo = [
              {
                title: "Deceuninck эко 60 (производитель Бельгия)",
                desc: "Профиль",
                isFullWidth: true
              },
              {
                title: "Axor KOMFORT Line K-3 (производитель Украина)",
                desc: "Фурнитура",
                isFullWidth: true
              },
              {
                title: "24мм, 2 стекла, 1 камера ",
                desc: "Стеклопакет",
                isFullWidth: true
              },
            ];
          include ../product-info/module
      
      .tabs__info.tabs__info-3.tabs__info--hidden
        .tabs__info-item
          include ../product-slider/module

          -
            var productInfo = [
              {
                title: "105 мм.",
                desc: "Видимая ширина комбинации профилей рамы и створки",
                isFullWidth: false
              },
              {
                title: "60 мм/3 камеры.",
                desc: "Системная глубина/число камер",
                isFullWidth: false
              },
              
              {
                title: "0,70 м2·°С/Вт. ",
                desc: "Сопротивление теплопередаче профилей (Rопр)",
                isFullWidth: false
              },
              
              {
                title: "32 мм",
                desc: "Максимальная толщина стеклопакета",
                isFullWidth: false
              },
              
              {
                title: "2 (нахлест уплотнений по 6/8 мм снаружи и внутри).",
                desc: "Количество контуров уплотнения",
                isFullWidth: true
              },
            ];
          include ../product-info/module
      
      .tabs__info.tabs__info-4.tabs__info--hidden
        .tabs__info-item
          include ../product-slider/module
          -
            var productInfo = [
              {
                title: "Фурнитура Axor KOMFORT LINE K-3",
                desc: "это прежде всего внимание к деталям, нашедшее свое отражение в качественной системе фурнитуры.",
                isFullWidth: true
              },
              {
                title: "Функциональность стеклопакета",
                desc: "зависит от его конфигурации. Можно выбрать стеклопакет с обычным стеклом или же с энергосберегающими стеклом, которое будет сохранять больше тепла в вашем доме зимой и сохранять прохладу в жаркое время года.",
                isFullWidth: true
              },
            ];
          include ../product-info/module
    .tabs__buttons-wrapper
      button.tabs__button.tabs__button--active О продукте
      button.tabs__button Технические характеристики
      button.tabs__button Информация по профилию
      button.tabs__button Инфрмация по фурнитуре