.tabs {
  padding: 92px 0 41px;
  background: linear-gradient(180deg, $Fern 0%, $Apple 100%);

  &__info {
    &--hidden {
      display: none;
    }
  }

  &__info-item {
    display: flex;
    align-items: flex-start;

    & > div:first-child {
      width: 50%;
    }

    & > div:last-child {
      margin-left: 35px;
      width: calc(50% - 35px);
    }
  }

  &__buttons-wrapper {
    display: flex;
    margin-top: 37px;
  }

  &__button {
    padding: 19px 45px;
    border: 1px solid #E8E8E6;
    box-sizing: border-box;
    font-family: Gothland;
    font-size: 14px;
    line-height: 147.5%;
    background: linear-gradient(180deg, $Corn 0%, $FuelYellow 100%);
    color: white;

    &--active {
      background: linear-gradient(180deg, $FuelYellow 0%, $FuelYellow 100%);
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}