.product-slider
  .product-slider__slider
    each slide in productSlider.slider
      .product-slider__slide !{slide}
  .product-slider__nav-container
    each slide in productSlider.slider
      .product-slider__nav-item !{slide}