.product-slider {
  > .tns-outer {
    position: relative;
  }

  &__slide {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    min-height: 400px;

    > * {
      width: calc(100% - 160px);
    }
  }

  .tns-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    height: 0;
    z-index: 10;
  }

  &__arrow {
    display: block;
  }

  &__prev-arrow {
    transform: rotate(180deg);
  }

  &__nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }

  &__nav-item {
    max-width: 180px;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 15px;
    }

    > img {
      width: auto;
      height: 100px;
    }
  }
}