.take-pdf
  .take-pdf__up-container
    .take-pdf__left-arrow
      include ../../images/pdf-arrow.svg
    p.take-pdf__up-text= "Мы подготовили для вас, более 15 советов и инструкций, и упаковали их в PDF-файл"
    .take-pdf__right-arrow
      include ../../images/pdf-arrow.svg
  .take-pdf__bottom-container
    p.take-pdf__bottom-text= "Получить pdf-файл со всеми советами и инструкциями"
    form(action="#", method="post").take-pdf__left-form
      input(type="email", name="take-pdf-email" placeholder="email").take-pdf__input
      input(type="text", name="take-pdf-name" placeholder="Имя/телефон").take-pdf__input
    input(type="button", value="Получить").take-pdf__button