.take-pdf {
  &__up-container {
    display: flex;
  };

  &__up-text {
    margin-bottom: 80px;
    font-size: 46px;
    line-height: 55px;
    text-align: center;
    font-family: Gothland;
    text-transform: uppercase;
    color: black;
  };

  &__left-arrow {
    position: relative;
    left: -28px;
    width: 68.5px;
    align-self: flex-end;
  };

  &__right-arrow {
    position: relative;
    right: -28px;
    width: 68.5px;
    align-self: flex-end;
    transform: scale(-1, 1);
  };

  &__bottom-container {
    display: flex;
    position: relative;
    padding: 44px;
    background: linear-gradient(180deg, #74B764 0%, #539E41 100%);
    border-radius: 50px;
  };

  &__bottom-text {
    flex: 1;
    font-family: Gothland;
    font-size: 48px;
    line-height: 147.5%;
    text-transform: uppercase;
    color: white;
  };

  &__left-form {
    position: relative;
    display: flex;
    margin-left: 28px;
    justify-content: space-between;
    flex: 1;
    align-self: center;
  };

  &__input {
    width: 100%;
    margin-left: 88px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: inherit;
    outline:none;
    color: #FFFFFF;

    &:first-child {
      margin-left: 0;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
    };
  };

  &__button {
    position: absolute;
    bottom: 44px;
    right: 44px;
    padding: 11px 39px;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    border: none;
    outline:none;
    cursor: pointer;
  }
}