.rate
  .rate__content
    p.rate__title= rate.title
    img.rate__img(src= rate.src, alt="Error")
    p.rate__price= rate.price
    a.button.rate__button(href= rate.link) подробнее
  img.rate__image(src= rate.image, alt="Error")