.rate {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 15px 15px;
  height: 222px;
  box-sizing: border-box;
  border-radius: 30px;
  background: linear-gradient(180deg, $Corn 0%, $Macaroni 100%);;

  &__title {
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 24px;
    color: white;
  }

  &__img {
    height: 100px;
    margin-bottom: 5px;
  }

  &__price {
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
  }
  
  &__button {
    display: block;
    position: relative;
    padding: 10px 28px;
    font-size: 14px;
    background-color: $Fern;
    text-transform: uppercase;
    color: black;
  }
}
