.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    height: 130px;
    margin-bottom: 60px;
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
}
