@charset 'UTF-8';

$pathToFonts: './../../assets/fonts';

// GothamPro
@include font-face(GothamPro, '#{$pathToFonts}/GothamPro');
@include font-face(GothamPro, '#{$pathToFonts}/GothamPro-Bold', bold);
@include font-face(GothamPro, '#{$pathToFonts}/GothamPro-Italic', normal, italic);
@include font-face(GothamPro, '#{$pathToFonts}/GothamPro-BoldItalic', bold, italic);

@font-face {
  font-family: "Roboto";
  src: url('#{$pathToFonts}/Roboto.ttf') format('truetype');
}
@font-face {
  font-family: "Gothland";
  src: url('#{$pathToFonts}/Gothland.ttf') format('truetype');
}