.wrapper {
	max-width: $desktopXs;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.button {
	padding: 18px 57px;
	border-radius: 50px;
}

.title {
	font-size: 48px;
	line-height: 55px;
	font-family: Gothland;
	text-transform: uppercase;
}

.text-container {
	display: inline-block;
	padding: 24px 45px;
	max-width: 1060px;
	border: 1px solid $Silver;
	box-sizing: border-box;
	border-radius: 30px;
	font-weight: 500;
	font-size: 24px;
	line-height: 23px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: white;
	color: black;
}
