// Colors

$Mercury: #E5E5E5;
$Mandy: #E76373;
$Macaroni: #FFBC7D;
$Fern: #74B764;
$Apple: #539E41;
$Corn: #E1D805;
$FuelYellow: #E8A82B;
$ChartreuseYellow: #EBFF00; // Text color
$PurpleHeart: #633CCF;
$Lavender: #E596E7;
$Spindle: #AACBEA;
$Silver: #C4C4C4;

// Sizes

$wrap: 1360px;
$desktop: 1200px;
$desktopXs: 1161px;
$laptopLg: 1100px;
$hdr: 1030px;
$laptop: 985px;
$laptopXs: 860px;
$tablet: 768px;
$mobileLg: 600px;
$mobileL: 560px;
$mobile: 480px;
$mobileXs: 400px;
