.service
  img(src= service.img).service__img
  p.service__title= service.title

  .service__buttons-wrapper
    button.button.service__button Позвонить
    button.button.service__button.service__submit-button Оставить заявку