.service {
  position: relative;
  border-radius: 30px 30px;
  overflow: hidden;
  // margin: 40px 20px;

  &__title {
    position: absolute;
    top: 22px;
    left: 18px;
    right: 18px;
    line-height: 55px;
    font-size: 46px;
    font-family: Gothland;
    text-transform: uppercase;
    color: white;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 26px;
    padding-bottom: 22px;
    background: linear-gradient(180deg, #E1D805 0%, #E8A82B 100%);
  }

  &__button {
    padding: 14px 27px;
    max-width: 246px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    background: white;
    color: black;
  }
}