-
  var firstMenu = [
    { title: "О компании", link: "#" },
    { title: "Партнеры", link: "#" },
    { title: "Контакты", link: "#" },
    { title: "Направления", link: "#" },
    { title: "Инвесторам", link: "#" },
    { title: "Закупки", link: "#" },
  ];

-
  var secondMenu = [
    { title: "Новости", link: "#" },
    { title: "Офисы продаж ", link: "#" },
    { title: "Вакансии", link: "#" },
    { title: "Обратная связь", link: "#" },
    { title: "Справочный центр", link: "#" },
    { title: "Конфиденциальность", link: "#" },
  ];

footer.footer
  .wrapper
    .footer__item
      nav
        ul
          each item in firstMenu
            li.footer__list-item
              a(href= item.link).footer__link= item.title
    .footer__item
      nav
        ul
          each item in secondMenu
            li.footer__list-item
              a(href= item.link).footer__link= item.title
    .footer__item
      p.footer__find ИЩИТЕ НАС В СОЦИАЛЬНЫХ СЕТЯХ
      .footer__social-menu
        a(href="#").footer__social-item
          include ../../images/vk.svg
        a(href="#").footer__social-item
          include ../../images/facebook.svg
        a(href="#").footer__social-item
          include ../../images/inst.svg
        a(href="#").footer__social-item
          include ../../images/youtube.svg