.footer {
  padding: 14px 0;
  background-color: $Mercury;

  > .wrapper {
    display: flex;
  }

  &__item {
    flex: 1;

    &:last-child {
      flex: 2;
      display: flex;
      flex-direction: column;
    }
  }

  &__list-item {
    margin-bottom: 12px;
  }

  &__link {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: black;
  }

  &__find {
    max-width: 520px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: black;
  }

  &__social-menu {
    display: flex;
    margin-top: auto;
  }

  &__social-item {
    margin-right: 48px;
    margin-bottom: 12px;
  }
}